/* General Styles---------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEE;
}

.sect-head h1 {
    border: 1px solid #EEE;
    padding: 0 8px;
}

.sect-head h1, .sect-head h3  {
    display: inline;
}

header {
    background-color: #EEE;
    margin: 10px auto;
    width: 98%;
    text-align: center;
}

ul li {
    list-style-type: none;
    margin-left: 15px;
}

footer {
    margin: 0 auto;
    width: 98%;
    text-align: center;
}

/* Grid-------------------------- */

.main-content-container {
    background-color: #FFF;
    margin: 53px auto;
    padding-top: 1px;
    width: 47%;
    border: 1px solid black;
    min-width: 611px;
}

.column-container {
    margin: 0 auto;
    width: 99%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.col {
    display: table-cell;
    margin: 2px;
    text-align: justify;
}

.left-column {
    width: 65%;
    margin-right: 10px;
}

.right-column {
    width: 32%;
}

/* Styles------------------------ */

.main-img {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-image: url(img/invaderdude.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFF;
    border: 2px solid #EEE;
}

.contain-style {
    border: 2px solid #EEE;
}

.p-container {
    width: 93%;
    margin: 0 auto;
}

.p-container p {
    font-size: 20px;
    line-height: 24px;
}

/* clearfix---------------------- */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}